#logo {
    max-width: 5vh;
    display: flex;
   
}


.img-logo {
    display: flex;
    align-items: center; 
    padding-left: 30px;
    flex-direction: row;   
    
}


.img-logo h1 {
    font-size: 30px;
    padding-left: 10px;
    font-family: 'Dosis', sans-serif;
    
}

.nav-logo {
   display: flex; 
   flex-direction: row;
   
}


#navbar {
    display: flex;
    padding-left: 2em; /*try not th use padding */
    
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: static;
    width: 100%;
  }
  
#navbar li {
    float: left;
    
  }
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


#navbar li a:hover {
    background-color: #111;
  }
  
#navbar .active {
    background-color: #4CAF50;
  }

h2 {
    padding-left: 30px;
    font-family: 'Dosis', sans-serif;
}

.featured-games h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}


.featured-games img {
    object-fit: cover;
    width: 40vh;
    height: 35vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.featured-games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 20vh;
}

.game_card{
    padding: 0 !important;
    max-width: 40vh;
    margin:30px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    
    
  }

.game_card p {
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Dosis', sans-serif;
  }


.game_card a {
    border-radius: 100%;
    border: none;
    background-color: #FF3D49;
    font-size: 40px;
    text-align: center;
    color: rgb(235, 231, 231);
    margin: auto;
    cursor: pointer;
    float: right;
    text-decoration: none;

}

.button_container {
    padding-right: 10px;  
}


/* iPhone 6/7/8 size screen */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #logo {
        max-width: 4vh;
        display: flex;
       
    }

    .featured-games img {
        object-fit: cover;
        width: 40vh;
        height: 35vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .featured-games {
        display: flex;
        flex-direction: column;
        max-width: 10vh;
        
    }  
    
    .game_card{
        padding: 0;
        width: 45vh;
        margin:20px; 
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
        
      }

}



/* iPad size screen */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #logo {
        max-width: 4vh;
        display: flex;
       
    }

    .featured-games img {
        object-fit: cover;
        width: 30vh;
        height: 35vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .featured-games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 10vh;
        
    }  
    
    .game_card{
        padding: 0;
        width: 30vh;
        margin:30px; 
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
      }

}

